.div1{
    display: inline-block;
    background-color: rgb(62, 119, 119);
    width: 100px;
    height: 100px;
}
.div2{
    display: inline-block;
    background-color: rgb(35, 160, 62);
    width: 100px;
    height: 100px;
}
